body{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

.navbar-brand {
  font-family: 'Russo One', sans-serif;
}

#results-table {
  font-size: 25px;
  text-align: center;
}

label {
  display: inline-block;
  width: 100px;
}


input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h1 {
  font-family: 'Jura', sans-serif;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}


#balance {
  color: black;
}

.hint {
  color: #666;
}

section {
  padding-top: 120px;
  height:100vh;
}

#logo {
  padding-top: 15px;
}

#validatedaccountnumber {
  font-size: 20px;
}

#transaction-id {
  font-size: 20px;
}

#current-account-vote {
  font-size: 20px;
}
